BODY {
	font-family: helvetica, arial, "lucida sans", sans-serif;
	background-color: white;
	font-size: 12px;
}

.pdparam{
	font-family: helvetica, arial, "lucida sans", sans-serif;
	font-size: 12px;
}

TD {
	font-family: helvetica, arial, "lucida sans", sans-serif;
	font-size: 12px;
}

H1, H2, H3 {
	color: blue;
	font-size: 15px;
	padding: 2px;
	margin-top: 0px;
}

H1 {
	background-color: #424242;
	color: #FFFFFF;
}

H2 {
	background-color: #424242;
	color: #FFFFFF;
	text-decoration: none;
}

H3 {
	background-color: #330000;
	color: #FFFFFF;
}

H4 {
	color: #330000;
	font-size: 13px;
}

H5 {
	font-size: 12px;
	color: #330000;
}

.term {
	color: black;
}

TR.qandadiv TD {
	padding-top: 1em;
}

DIV.navheader {
	font-size: 12px;
}

DIV.navheader th{
	font-size: 15px;
}

DIV.navheader table{
	font-size: 12px;
}

DIV.navfooter {
	font-size: 12px;
}

DIV.navfooter table{
	font-size: 12px;
}

A:link {
	color: #660000;
}

A:visited {
	color: #CC0000;
}

A:active {
	color: #FF0033;
}

TR.question {
	color: #33C;
	font-weight: bold;
}

TR.question TD {
	padding-top: 1em;
}

DIV.variablelist {
	padding-left: 2em;
	color: #33C;
}

P {
	color: black;
}

DIV.caution, DIV.tip, DIV.important {
	border: dashed 1px;
	background-color: #EEEEFF;
	width: 40em;
	padding: 5px;
}

PRE.programlisting, PRE.screen {
	border: #630 1px dashed;
	color: #993300;
	padding: 2px;
}
DIV.warning { 
	border: dashed 1px;
	background-color: #BFBFBF;
	width: 40em;
	padding: 5px;
} 

DIV.note { 
	border: dashed 1px;
	background-color: #f2f2f2;
	width: 40em;
	padding: 5px;
} 

DIV.author {
	padding-top: 1em;
}

DIV.revhistory table{
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0px;
}

DIV.revhistory tr {
	border: 0px;
}

DIV.revhistory td {
	border: 0px;
}

DIV.revhistory th {
	border: 0px;
}

/**
 * netatalk
 */
.bg {
        background-color: #424242;
        background-image: url(/gfx/bg.gif);
        background-repeat: no-repeat;
        background-position: 80px 0px;
        border-spacing: 0px;
}

.men {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        color: #FFFFFF;
        text-decoration: none;
}

.kursiv {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-style: italic;
        font-weight: normal;
        color: #000000;
        text-decoration: none;
}

a.men, a.men:visited { color: #FFFFFF;
        text-decoration: none;
}

a.wiki, a.wiki:visited {
  text-decoration: none;
  color: #660000;
}

a, a:visited {
  text-decoration: none;
  color: #660000;
}

td.bg a:visited, td.bg a { color: #FFFFFF;
        text-decoration: none;
}
